
.sidebar{
    background-color: #929292;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
}
.sidebar .logo{
    font-size: 30px;
    padding: 10px 10px 10px 40px;
    color: #fff;
    
}
.sidebar .vl {
    border-left: 10px solid #fff;
    height: 70px;
    position: absolute;
    left: 230px;
    top: 0;
    margin-top: 30px;
}
.sidebar hr{
    height: 2px;
    background-color: aliceblue;
}
.sidebar img{
    width: 40px;
    height: 40px;
    position: relative;
    margin-top: 10px;
}
.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    padding-top: 10px;
    transition: 0.5s;
}
.sidebar a:hover{
    background: #DAE0DA;
}
.sidebar span{
    padding-left: 15px;
    font-size: 30px;
}
.container{
    position: fixed;
    right: 0;
    top: 0;
    width: 80%;
    height: 100vh;
    background: #EBEAEA;
    display: flex;
    flex-direction: column;
}
.container h1{

    color: #8a8888;
}
.container .input{

    color: rgb(105, 105, 105);
    background: whitesmoke;
    width: 250px;
    margin-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    font-size: 20px;   
}

input[type="text"] {
    width: 200px;
    height: 30px;
}


button{
    margin-left: 0; 
    font-size: 15px;
    width: 85%;
    height: 30px;
    background-color: #608C8B;
    color: white;
}
.logout{
    margin-top: 380px;
    background-color: red;
    font-size: 30px;
}